[submodule "libs/obsidian-export"]
	path = libs/obsidian-export
	url = https://github.com/brandonkboswell/obsidian-export.git
[submodule "libs/hugo-obsidian"]
	path = libs/hugo-obsidian
	url = https://github.com/jackyzha0/hugo-obsidian.git
[submodule "public"]
	path = public
	url = https://github.com/wchorski/quartz-dnd-public.git
